.header {
    padding: 8px 0;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    height: 120px;
    z-index: 1;
}

.header__wrapp {
    display: flex;
}

.logo {
    cursor: pointer;
}

.header__items {
    display: flex;
    justify-content: space-between;
    max-width: 867px;
    width: 100%;
    margin-left: 48px;
}

.header__item {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.header__link {
    padding: 0 8px;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 500;
}

.header__flag {
    margin-left: auto;
    cursor: pointer;
}

.burger {
    display: none;
}

.header__wrapp-2 {
    padding: 8px 0;
    position: relative;
    /* overflow: hidden; */
}

.tv__btns {
    display: flex;
    overflow: auto;
    gap: 7px;
    position: relative;
    margin: 0 -16px;
    padding-left: 16px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    white-space: nowrap;
}

.tv__btns::-webkit-scrollbar {
    display: none;
}

.tv__btn {
    display: inline-block;

    color: black;
    padding: 6px 12px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    cursor: pointer;


}



.tv__btn:hover {
    color: white;
    background: #3B3F4F;
}

.active {
    color: white;
    background: #3B3F4F;
}

.span {
    padding: 0;
    display: flex;
    align-items: center;
    color: #686E80;
    font-weight: 400;
    cursor: unset;
}

.span:hover {
    color: unset;
    background: unset;
}

.arrow-wrap {
    background: linear-gradient(to right, transparent 1%, white 50%, white 75%);
    position: absolute;
    top: 8px;
    right: -16px;
    width: 70px;
    height: 24px;
    z-index: 100;
    cursor: pointer;
}

.arrow-wrap:hover {
    width: 40px;
}

.arrow {
    display: block;
    margin-left: auto;
    padding-right: 16px;
}

.main {
    padding-top: 20px;
}

.main__home {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 16px;
}

.main__home-span {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    color: black;
}

.main__wrap {
    background: url("imgs/bg-main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 403px;
    color: white;
    font-family: Poppins;
    padding: 43px 0 0 56px;
    border-radius: 16px;
}

.main__title {
    font-size: 47.78px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    max-width: 771px;
    width: 100%;
    padding-bottom: 16px;
}

.main__txt {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 771px;
    width: 100%;
}

.person {
    margin-top: 40px;
    padding-bottom: 56px;

}

.person__info {
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 12px;
    background-color: #F6F7FC;
    border-radius: 16px;
}

.person__wrapp {
    background-color: white;
    border-radius: 16px;
    border: 1px solid #E4E5EC;
    padding: 12px;
}

.person__img {
    display: flex;
    align-items: center;
    gap: 8px;
}

.person__title {
    position: relative;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px
}

.person__title::after {
    content: url('imgs/sign.svg');
    position: absolute;
    top: 0;
    right: -12px;
}

.person__sub {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #686E80;
}

.person__date {
    display: flex;
    gap: 24px
}

.person__item {
    display: flex;
    align-items: center;
    gap: 4px
}

.person__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 12px;
}

.person__span {
    color: #A1A7BD;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px
}

.person__txt {
    color: #686E80;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px
}

.tb {
    margin-bottom: 20px;
}


.table__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.table__title {
    font-size: 39.81px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.table__subtitle {
    padding-right: 10px;
    color: #515865;
}

.table__title-span {
    display: flex;
    align-items: center;
}

.tab {
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 20px;
}

.casino-name {
    font-size: 20px;
    font-weight: 600;
}

.stars {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 8px 0 16px;
}

.brend {
    border-radius: 12px;
}

.brend__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
}

.score {
    font-size: 16px;
    font-weight: 600;
}

.more {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #2F7EF3;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.table__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.table__item {
    font-size: 16px;
    color: #686E80;
    font-weight: 400;
}

.dot {
    border: 1px dashed #2F7EF3;
    text-align: center;
    border-radius: 16px;
    background-color: #F2F4FF;
}

.dot__txt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #2F7EF3;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px
}

.dot__tiitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding: 10px 0;
}


.table__btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    max-width: 169px;
    width: 100%;
    margin-left: auto;
    white-space: nowrap;
    border-radius: 16px;
    gap: 4px;
    justify-content: center;
    cursor: pointer;
    padding: 19px 14px;
}

.table__btn-1 {
    background-color: #1DB954;
    color: white;
    margin-bottom: 12px;
    transition: ease 0.5s;
}

.table__btn-1:hover  {
    background-color: #1a9143;
}

.table__btn-2 {
    background-color: #F2F4FF;
    color: #2F7EF3;
    text-align: center;
    transition: ease 0.5s;
}

.table__btn-2:hover  {
    background-color: #dadada;
}



@media only screen and (max-width: 992px) {
    .burger {
        display: block;
    }

    .header__items {
        display: none;
    }

    .header__wrapp {
        justify-content: space-between;
    }

    .header__flag {
        margin-left: unset;
    }

    .span {
        display: none;
    }

    .main__wrap {
        padding: 20px;
    }

    .main__title {
        font-size: 28.34px;
        line-height: 40px;
    }

    .table__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 19px;
    }

    .table__titles {
        margin-bottom: 19px;
    }

    .table__list {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    .person__info {
        flex-direction: column;
    }

    .person__img {
        margin-right: auto;
        margin-bottom: 12px;

    }

    .person__date {
        padding-top: 12px;
        border-top: 1px solid gray;
    }

    .table__titles {
        flex-direction: column;
        align-items: start;
    }

    .tb {
        display: flex;
        flex-direction: column;
    }

    .tab {
        padding: 12px;
    }

    .dot {
        padding: 12px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .table__btn {
        max-width: 100%;
    }
}

@media only screen and (max-width: 376px) {

    .brend {
        max-width: 122px;
        width: 100%;
        height: auto;
    }
}